<mat-toolbar class="flex-header">
    <a routerLink="/" class="logo-container">
        <img src="assets/logo_p6.png" alt="Logo" class="logo-image" />
    </a>
    <nav class="nav_header" *ngIf="isLogged">
        <ul>
            <li>
                <a (click)="goToArticles()" routerLink="/posts" routerLinkActive="active">Articles</a>
            </li>
            <li>
                <a (click)="goToThemes()" routerLink="/topics" routerLinkActive="active">Thèmes</a>
            </li>
            <li>
                <a (click)="goToMe()" routerLink="/me" routerLinkActive="active" class="material-symbols-outlined">person</a>
            </li>
        </ul>
    </nav>
</mat-toolbar>