<h2>Se connecter</h2>
<form [formGroup]="form" (ngSubmit)="submit()">

    <div>
        <label for="emailOrNickname">E-mail ou nom d'utilisateur :</label><br>
        <input type="text" id="emailOrNickname" name="emailOrNickname" formControlName="emailOrNickname"><br>
    </div>
    <div>
        <label for="password">Mot de passe :</label><br>
        <input type="password" id="password" name="password" formControlName="password"><br>
    </div>
    <div>
        <button type="submit" [disabled]="form.invalid">Se connecter</button>
    </div>
    <p *ngIf="onError" class="error">Erreur lors de l'authentification</p>
</form>
