<app-header></app-header>
<div class="button-connect centeredLeft .champs-formulaire">
    <button class="mat-raised-button" (click)="goToCreerArticle()">Créer un article</button>
</div>
<div class="post-container">
    <div class="item" *ngFor="let post of (post$ | async)" fxFlex>
        <mat-card class="post" (click)="onPostClick(post.id)">
            <mat-card-title>{{post.title}}</mat-card-title>
            <mat-card-content>{{post.created_at | date: 'longDate'}}</mat-card-content>
            <mat-card-content>{{post.userName}}</mat-card-content>
            <mat-card-content>{{post.description}}</mat-card-content>
        </mat-card>
    </div>
</div>