<app-header></app-header>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <input type="text" id="nickname" name="nickname" value="{{this.nickname}}" formControlName="nickname">
    </div>
    <div>
        <input type="email" id="email" name="email" value="{{this.email}}" formControlName="email">
    </div>
    <button type="submit" [disabled]="form.invalid">Sauvegarder</button>
</form>
<hr/>
<div *ngFor="let topic of (topics$ | async)" fxFlex>
    <div *ngIf="isSubscribed(topic.id)">
        <h1>{{topic.theme}}</h1>
        <p>{{topic.description}}</p>
        <button [style.display]="isSubscribed(topic.id) ? 'block' : 'none'" (click)="unSubscribeToTopic(topic.id, user.id)">Se désabonner</button>
    </div>
</div>
