<app-header></app-header>
<div class="topic-container">
    <div *ngFor="let topic of (topics$ | async)" fxFlex>
        <mat-card class="topic">
            <mat-card-title>{{topic.theme}}</mat-card-title>
            <mat-card-content>{{topic.description}}</mat-card-content>
            <div class="button-connect">
                <button class="mat-raised-button" [style.display]="isSubscribed(topic.id) ? 'none' : 'block'" (click)="subscribeToTopic(topic.id, user.id)">S'abonner</button>
            </div>
        </mat-card>
    </div>
</div>